html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.wrapper {
    max-width: 114rem;
    width: 90%;
    margin: 0 auto;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
p, 
a, 
input,
textarea,
button{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #fafff3;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

.flex{
    display: flex;
}

.spaceBetween{
    justify-content: space-between;
}

.flexWrap{
    flex-wrap: wrap;
}

.noFlex{
    display: initial;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.camoGreen{
    background-color: #262725;
}

.charcoal{
    background-color: #1e140e;
}

.mudGreen{
    background-color: #555f02;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

h2{
    font-family: 'Dokdo', cursive;
    font-size: 4.15rem;
    text-align: center;
    color: #ffc600;
}

li{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: .1rem;
}

h1{
    font-family: 'Dokdo', cursive;
    font-size: 10.5rem;
    line-height: 6.96rem;
    letter-spacing: 1.09rem;
    color: #ffc600;
}

input,
textarea{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: .2rem;
}

.button{
    font-family: 'Dokdo', cursive;
    font-size: 3rem;
    width: 90%;
    padding: 1rem;
    margin: 0 5%;
    border: none;
}

.index button{
    font-family: 'Dokdo', cursive;
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem 0;
    border: none;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: .2rem;
}

h4{
    font-family: 'Dokdo', cursive;
    font-size: 3rem;
    line-height: 3.2rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

i{
    font-size: 3rem;
    color: #ffc600;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

h3{
    font-family: 'Dokdo', cursive;
    font-size: 4.5rem;
    line-height: 5.8rem;
    letter-spacing: 0.49rem;
    color: #ffc600;
}

aside p{
    margin-bottom: 3rem;
}

aside ul{
    padding-bottom: 3rem;
}

aside ul li{
    text-align: left;
    padding: 0;
    margin: 0 0 0 2rem;
}

aside ul li::before{content: "•"; color: #ffc600; display: inline-block; width: 1rem; margin-left: -1rem; padding-right: 2rem;}

span{
    font-family: 'Lado', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #fafff3;
}

.index h1{
    padding-top: 10rem;
}


/* ----------------------------------------------------------------------------------------------------------------------------- */

header {
    background-image: url(./assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

header .wrapper{
    padding-top: 2rem;
}

ul li{
    padding: 1rem 2rem;
}

.activePage{
    color: #ffc600;
}

h1{
    padding-top: 25rem;
    padding-left: 3rem;
}

.yogaPic{
    height: 60rem;
    margin-top: 10rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

.paddingTop{
    padding-top: 25rem;
    width: 100%;
}

.yogaPicOne{
    width: 100%;
    margin: 0 0 15rem 10rem;
    box-shadow: -2rem 2rem #555f02;
}

.yogaGallery{
    width: calc(100% / 3);
    padding: 1rem;
    margin: 10rem auto;
}

.column{
    flex-direction: column;
}

.halfWidth{
    width: 50%;
}

.halfWidth i{
    color: #fafff3;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 3rem;
}

.notIcon{
    width: 90%;
}

.spaceNeeded{
    margin: 3rem 0 12rem;
}

.spaceNeeded .halfWidth{
    margin-top: 5rem;
}

#about{
    margin-bottom: -10rem;
}

.detailsRightSide{
    position: relative;
    left: calc((100vw - 115.7rem) / 2);
    margin: 5rem 0;
}

.detailsLeftSide{
    position: relative;
    right: calc((100vw - 115.7rem) / 2);
    margin: 5rem 0;
}

.detailsRightSide p{
    margin-right: calc((100vw - 115.7rem) / 2);
}

.detailsLeftSide p,
.detailsLeftSide h3,
.detailsLeftSide button{
    margin-left: calc((100vw - 116rem) / 2);
}

.detailsLeftSide h3{
    text-align: right;
}

.detailsLeftSide button{
    position: absolute;
    right: 0;
}

#about img{
    padding: -5rem;
}

.shadowLeft{
    box-shadow: 2rem 2rem #ffc600;
    top: -7rem;
    margin-bottom: -7rem;
}

.shadowRight{
    box-shadow: -2rem 2rem #ffc600;
    bottom: -7rem;
    top: 0rem;
}

.banner img{
    width: 100%;
}

.banner div{
    height: 40rem;
    width: 100%;
    text-align: center;
    margin-top: 15rem;
}

.banner p{
    text-align: left;
}

footer{
    text-align: center;
}










